**/target
**/.classpath
**/.project
**/.factorypath
**/.settings
**/.checkstyle
**/.eclipse-pmd
**/*.bak
**/*.launch
**/rebel.xml
**/common/**
/target/
.metadata/
**/*.iml
**/*.plantuml
**/npm-modules
**/build/
**/integrationtest.properties
**/.DS_Store
**/*.ucls
**/.ide
/call_graph.json